/* EXTERNOS */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&display=swap");
/* MISC */
/* VARIABLES */
/*     $primary: #000000;
    $secondary: rgba(100, 148, 237, 0.5);
    $tertiary: rgba(176, 196, 222, 0.50);
    $text-color: #ffffff;
    $sub-tittle: #808080;
    $color-buttom-1: #808080;
    $color-buttom-2: #00008b; */
.primary {
  color: #000000; }

.secondary {
  color: rgba(100, 148, 237, 0.5); }

.tertiary {
  color: rgba(176, 196, 222, 0.5); }

.text-color {
  color: #ffffff; }

.sub-tittle {
  color: #808080; }

.color-buttom-1 {
  color: #808080; }

.color-buttom-2 {
  color: #00008b; }

/* Spacings */
/* Font-family */
/* Font-Sizes */
/* :root { */
/* Colors */
/*     --primary: #000000;
    --secondary: rgba(100, 148, 237, 0.5);
    --tertiary: rgba(176, 196, 222, 0.50);
    --text-color: #ffffff;
    --sub-tittle: #808080;
    --color-buttom-1: #808080;
    --color-buttom-2: #00008b; */
/* Spacings */
/*     --spacing-xxsmall: 1rem;
    --spacing-xsmall: 2rem;
    --spacing-small: 2.4rem;
    --spacing-medium: 3rem;
    --spacing-large: 4rem;
    --spacing-xlarge: 5rem;
    --padding-nav: 0.5rem; */
/* Font-family */
/*     --font-principal: 'Comfortaa', cursive;
    --font-title: 'Comfortaa', cursive;
    --font-subtittle: 'Comfortaa', cursive; */
/* Font-Sizes */
/*     --text-xxxlarge: 5.2rem;
    --text-xxlarge: 4rem;
    --text-xlarge: 3rem;
    --text-large: 2.4rem;
    --text-medium: 2rem;
    --text-base: 1.6rem;
    --text-small: 1.4rem;
} */
/* ME FALTA APLICAR */
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* NORMALIZE */
html {
  font-size: 62.5%; }

body {
  font-family: "Comfortaa", cursive;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff; }

footer {
  font-family: "Comfortaa", cursive;
  color: #ffffff; }

a {
  text-decoration: none;
  color: #ffffff; }

.button_grey {
  color: #ffffff;
  background-color: #808080;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px; }

.button_darkblue {
  color: #ffffff;
  background-color: #00008b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px; }

/*
main {
    margin: 0 auto;
    /*max-width: 1200px;
}*/
/*ANIMATIONS*/
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85); }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0); } }

/*whatsapp*/
.container-boton {
  /*background-color: #2e6329;*/
  border: 1px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 25px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite; }
  .container-boton:hover {
    transform: scale(1.1);
    transition: 0.3s; }
  .container-boton .boton {
    width: 50px;
    transition: ease 1s; }

/* PARTIALS */
/* HEADER */
header {
  background-color: #000000;
  justify-content: space-around;
  display: flex;
  align-items: center;
  color: #ffffff;
  min-height: 10rem; }
  header nav ul {
    display: flex;
    flex-basis: 60%;
    gap: 2.4rem;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none; }
    header nav ul a {
      padding: 0.5rem;
      border-bottom: 2px solid #000000;
      transition: all .3s ease-in-out;
      font-size: 1.6rem; }
      header nav ul a:hover {
        border-color: #ffffff; }
  header img {
    max-width: 200px; }

/*MEDIAS QUERIES*/
@media screen and (max-width: 480px) {
  header {
    flex-direction: column;
    align-items: center;
    min-height: 22rem;
    width: 480px;
    margin-bottom: 1rem; }
    header nav ul {
      justify-content: center;
      width: 480px; }
  main {
    width: 480px; } }

/*FOOTER*/
footer {
  margin-top: 1.6rem; }
  footer p {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  footer a {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem; }

/*MEDIAS QUERIES*/
@media screen and (max-width: 480px) {
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center; } }

/* PAGES */
/* PRINCIPAL */
.inicio {
  background-image: url(../img/foto-portada.jpeg);
  background-size: cover;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .inicio h1 {
    font-size: 5.2rem;
    color: #000000;
    margin-top: 4rem;
    display: flex; }
  .inicio span {
    font-size: 3rem;
    width: 100%;
    height: 45px;
    padding: 3px;
    display: flex;
    justify-content: center; }

.tittle_section {
  display: block;
  text-align: center;
  font-size: 4rem;
  margin-top: 4rem; }

.cards, .cards_cripto, .cards_sakura {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
  margin: 3rem; }
  .cards div, .cards_cripto div, .cards_sakura div {
    background-color: rgba(100, 148, 237, 0.5);
    width: 350px;
    height: 380px;
    border-style: double;
    display: inline-block;
    justify-content: center;
    align-items: center;
    transition: all 2s linear;
    padding: 2rem; }
    .cards div:hover, .cards_cripto div:hover, .cards_sakura div:hover {
      transform: scale(1.1, 1.1);
      transition: 1s; }
    .cards div h2, .cards_cripto div h2, .cards_sakura div h2 {
      font-size: 2.4rem;
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .cards div .buttom_grey, .cards_cripto div .buttom_grey, .cards_sakura div .buttom_grey {
      background-color: #808080;
      padding: 5px 10px 5px 10px;
      display: flex;
      justify-content: center;
      margin-top: 1rem; }
    .cards div img, .cards_cripto div img, .cards_sakura div img {
      max-width: 120px;
      justify-content: center; }

.cards_cripto div {
  width: 350px;
  height: 230px; }

/*REVISAR..*/
.tabla {
  margin: 0 auto;
  /*igual que FLEX y CENTER*/ }

.info_tabla {
  margin: 20px;
  text-align: center;
  align-items: center; }

.cards_sakura div {
  width: 350px;
  height: 280px;
  background-color: rgba(176, 196, 222, 0.5); }

.gallery1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 2rem;
  font-family: "Comfortaa", cursive;
  font-size: 2.4rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4rem; }
  .gallery1__content:nth-of-type(1) {
    grid-column: 2 /3;
    grid-row: 1 / 4; }
  .gallery1__content:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .gallery1__content:nth-of-type(3) {
    grid-column: 3 /4;
    grid-row: 1 / 2; }
  .gallery1__content:nth-of-type(4) {
    grid-column: 1 /2;
    grid-row: 3 / 4; }
  .gallery1__content:nth-of-type(5) {
    grid-column: 3 / 4;
    grid-row: 3 / 4; }

.registrarme {
  display: flex;
  justify-content: center;
  align-items: center; }
  .registrarme .button_darkblue {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem; }

@media screen and (max-width: 480px) {
  .cards, .cards_cripto, .cards_sakura {
    flex-direction: column;
    align-items: center; }
  .cards_sakura {
    flex-direction: column;
    align-items: center; }
  .cards_cripto {
    flex-direction: column;
    align-items: center; }
  .gallery1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.4rem;
    justify-items: center;
    text-align: center;
    justify-content: center;
    align-items: center; }
    .gallery1__content:nth-of-type(1) {
      grid-column: 2 /3;
      grid-row: 1 / 5;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 240px;
      height: 100%; }
    .gallery1__content:nth-of-type(2) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      width: 240px;
      height: 230px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .gallery1__content:nth-of-type(3) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      width: 240px;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .gallery1__content:nth-of-type(4) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      width: 240px;
      height: 230px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .gallery1__content:nth-of-type(5) {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      width: 240px;
      height: 230px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .gallery1__content img {
      width: 240px;
      height: 100%; } }

/* NOSOTROS */
.nuestra_empresa {
  padding: 5px 10px 5px 10px;
  width: 920px;
  height: 250px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3rem; }
  .nuestra_empresa div {
    margin: 2rem;
    font-size: 1.6rem; }
    .nuestra_empresa div p {
      margin-top: 1rem; }
    .nuestra_empresa div img {
      max-width: 200px; }

.cards_socios {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
  margin-top: 3rem; }
  .cards_socios div {
    background-color: rgba(176, 196, 222, 0.5);
    width: 350px;
    height: 250px;
    border-style: double;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 2rem; }
    .cards_socios div h2 {
      font-size: 2.4rem;
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .cards_socios div img {
      max-width: 120px;
      justify-content: center;
      margin: 2rem; }
    .cards_socios div .argcapital img {
      max-width: 200px; }

.card_participar {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; }
  .card_participar .listo_para_participar {
    width: 700px;
    height: 100px;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    font-size: 1.6rem; }

@media screen and (max-width: 480px) {
  .nuestra_empresa {
    max-width: 480px;
    flex-direction: column;
    align-items: center;
    height: 450px; }
  .card_socios {
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem; }
  .cards_participar {
    flex-direction: column;
    align-items: center; }
    .cards_participar .listo_para_participar {
      max-width: 420px; } }

/* COMO PARTICIPAR */
.cards_participar {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
  margin-top: 3rem; }
  .cards_participar div {
    background-color: rgba(176, 196, 222, 0.5);
    width: 300px;
    height: 260px;
    border-style: double;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 2rem; }
    .cards_participar div h2 {
      font-size: 2rem;
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .cards_participar div img {
      max-width: 120px;
      justify-content: center; }
    .cards_participar div .buttom_grey {
      background-color: #808080;
      padding: 5px 10px 5px 10px;
      display: flex;
      justify-content: center;
      margin-top: 1rem; }

.proceso_inversion {
  display: flex;
  justify-content: center;
  margin-top: 1rem; }

.card_inversion {
  padding: 5px 10px 5px 10px;
  width: 920px;
  height: 250px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3rem; }
  .card_inversion div {
    margin: 2rem;
    font-size: 1.6rem; }
    .card_inversion div img {
      max-width: 200px; }
    .card_inversion div p {
      margin-top: 1rem; }

@media screen and (max-width: 480px) {
  .cards_participar {
    flex-direction: column;
    align-items: center; }
  .proceso_inversion img {
    width: 450px;
    margin-left: 1rem;
    margin-right: 1rem; }
  .card_inversion {
    width: 400px;
    height: 350px;
    flex-direction: column;
    align-items: center; }
    .card_inversion div {
      margin: 0px; } }

/* PROYECTOS */
.subtitulo {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-style: italic;
  color: #808080; }

/* IMAGENES */
.master_gallery2 {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center; }
  .master_gallery2 .gallery2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 891px;
    max-height: 2600px;
    gap: 1rem; }
    .master_gallery2 .gallery2__content img {
      max-width: 891px;
      gap: 1rem; }
    .master_gallery2 .gallery2__content:nth-of-type(1) {
      grid-column: 1 / 3;
      grid-row: 1 / 2; }
    .master_gallery2 .gallery2__content:nth-of-type(2) {
      grid-column: 1 / 2;
      grid-row: 2 / 4; }
    .master_gallery2 .gallery2__content:nth-of-type(3) {
      grid-column: 2 /3;
      grid-row: 2 / 4; }
    .master_gallery2 .gallery2__content:nth-of-type(4) {
      grid-column: 1 / 3;
      grid-row: 4 / 5; }
    .master_gallery2 .gallery2__content:nth-of-type(5) {
      grid-column: 1 / 2;
      grid-row: 5 / 7; }
    .master_gallery2 .gallery2__content:nth-of-type(6) {
      grid-column: 2 / 3;
      grid-row: 5 / 7; }
    .master_gallery2 .gallery2__content:nth-of-type(7) {
      grid-column: 1 / 3;
      grid-row: 7 / 9; }

@media screen and (max-width: 480px) {
  .gallery2 {
    display: grid;
    grid-template-columns: repeat(2, 240px);
    grid-template-rows: repeat(8, 185px);
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 480px;
    max-height: 2600px;
    gap: 1rem;
    justify-content: center;
    align-items: center; }
    .gallery2__content img {
      gap: 1rem; }
    .gallery2__content:nth-of-type(1) {
      grid-column: 1 / 3;
      grid-row: 1 / 2; }
      .gallery2__content:nth-of-type(1) img {
        width: 480px; }
    .gallery2__content:nth-of-type(2) {
      grid-column: 1 / 2;
      grid-row: 2 / 4; }
      .gallery2__content:nth-of-type(2) img {
        width: 240px; }
    .gallery2__content:nth-of-type(3) {
      grid-column: 2 /3;
      grid-row: 2 / 4; }
      .gallery2__content:nth-of-type(3) img {
        width: 240px; }
    .gallery2__content:nth-of-type(4) {
      grid-column: 1 / 3;
      grid-row: 4 / 5; }
      .gallery2__content:nth-of-type(4) img {
        width: 480px; }
    .gallery2__content:nth-of-type(5) {
      grid-column: 1 / 2;
      grid-row: 5 / 7; }
      .gallery2__content:nth-of-type(5) img {
        width: 240px; }
    .gallery2__content:nth-of-type(6) {
      grid-column: 2 / 3;
      grid-row: 5 / 7; }
      .gallery2__content:nth-of-type(6) img {
        width: 240px; }
    .gallery2__content:nth-of-type(7) {
      grid-column: 1 / 3;
      grid-row: 7 / 9; }
      .gallery2__content:nth-of-type(7) img {
        width: 480px; } }

/* TESTIMONIOS */
.supercard_testimonios {
  display: flex;
  justify-content: center; }
  .supercard_testimonios .testimonios {
    margin-top: 4rem;
    max-width: 900px; }
    .supercard_testimonios .testimonios .card_testimonios {
      display: flex;
      margin: 1rem;
      font-size: 2.4rem;
      color: #808080;
      align-items: center;
      gap: 2rem; }

.experiencia_usuario {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 2rem; }

@media screen and (max-width: 480px) {
  .supercard_testimonios .card_testimonios {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem; }
  .experiencia_usuario {
    flex-direction: column;
    align-items: center; } }

/* CONTACTO */
.card_contacto {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .card_contacto__info {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem; }
    .card_contacto__info img {
      max-width: 50px; }
  .card_contacto .mapa iframe {
    width: 600px;
    margin: 3rem; }

@media screen and (max-width: 480px) {
  .card_contacto {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    margin: 2rem; }
    .card_contacto .mapa {
      width: 450px;
      margin: 2rem; }
      .card_contacto .mapa iframe {
        width: 450px;
        display: flex;
        justify-items: center;
        margin: 2rem; } }
