/* EXTERNOS */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&display=swap");
/* MISC */
/* VARIABLES */
:root {
  /* Colors */
  --primary: #000000;
  --secondary: rgba(100, 148, 237, 0.5);
  --tertiary: rgba(176, 196, 222, 0.50);
  --text-color: #ffffff;
  --sub-tittle: #808080;
  --color-buttom-1: #808080;
  --color-buttom-2: #00008b;
  /* Spacings */
  --spacing-xxsmall: 1rem;
  --spacing-xsmall: 2rem;
  --spacing-small: 2.4rem;
  --spacing-medium: 3rem;
  --spacing-large: 4rem;
  --spacing-xlarge: 5rem;
  --padding-nav: 0.5rem;
  /* Font-family */
  --font-principal: 'Comfortaa', cursive;
  --font-title: '';
  --font-subtittle: ;
  /* Font-Sizes */
  --text-xxxlarge: 5.2rem;
  --text-xxlarge: 4rem;
  --text-xlarge: 3rem;
  --text-large: 2.4rem;
  --text-medium: 2rem;
  --text-base: 1.6rem;
  --text-small: 1.4rem; }

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* NORMALIZE */
html {
  font-size: 62.5%; }

body {
  font-family: var(--font-principal);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: var(--primary);
  color: var(--text-color); }

footer {
  font-family: var(--font-principal);
  color: var(--text-color); }

a {
  text-decoration: none;
  color: var(--text-color); }

/*
main {
    margin: 0 auto;
    /*max-width: 1200px;
}*/
/*ANIMATIONS*/
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85); }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0); } }

/*whatsapp*/
.container-boton {
  /*background-color: #2e6329;*/
  border: 1px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 25px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite; }

.container-boton:hover {
  transform: scale(1.1);
  transition: 0.3s; }

.boton {
  width: 50px;
  transition: ease 1s; }

/* PARTIALS */
/* HEADER */
header {
  background-color: var(--primary);
  justify-content: space-around;
  display: flex;
  align-items: center;
  color: var(--text-color);
  min-height: 10rem; }

nav ul {
  display: flex;
  flex-basis: 60%;
  gap: var(--spacing-small);
  flex-wrap: wrap;
  flex-direction: row; }

nav ul a {
  padding: var(--padding-nav);
  border-bottom: 2px solid var(--primary);
  transition: all .3s ease-in-out;
  font-size: var(--text-base); }

nav ul a:hover {
  border-color: var(--text-color); }

header img {
  max-width: 200px; }

ul {
  list-style-type: none; }

/*MEDIAS QUERIES*/
@media screen and (max-width: 480px) {
  header {
    flex-direction: column;
    align-items: center;
    min-height: 22rem;
    width: 480px;
    margin-bottom: var(--spacing-xxsmall); }
  header nav ul {
    justify-content: center;
    width: 480px; }
  main {
    width: 480px; } }

/*FOOTER*/
footer {
  margin-top: 1.6rem; }

footer p {
  margin-top: var(--spacing-xxsmall);
  display: flex;
  justify-content: space-around;
  align-items: center; }

footer a {
  margin-top: var(--spacing-xxsmall);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: var(--spacing-xxsmall); }

/*MEDIAS QUERIES*/
@media screen and (max-width: 480px) {
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center; } }

/* PAGES */
/* COMO PARTICIPAR */
.cards_participar {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-xsmall);
  text-align: center;
  margin-top: var(--spacing-medium); }

.cards_participar div {
  background-color: var(--tertiary);
  width: 300px;
  height: 260px;
  border-style: double;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-xsmall); }

.cards_participar div h2 {
  font-size: var(--text-medium);
  margin-top: var(--spacing-xxsmall);
  margin-bottom: var(--spacing-xxsmall); }

.cards_participar img {
  max-width: 120px;
  justify-content: center; }

.cards_participar div .buttom_grey {
  background-color: var(--color-buttom-1);
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-xxsmall); }

.proceso_inversion {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-xxsmall); }

.card_inversion {
  padding: 5px 10px 5px 10px;
  width: 920px;
  height: 250px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: var(--spacing-medium); }

.card_inversion div {
  margin: var(--spacing-xsmall);
  font-size: var(--text-base); }

.card_inversion div p {
  margin-top: var(--spacing-xxsmall); }

.card_inversion img {
  max-width: 200px; }

/*REVISAR..*/
.tabla {
  margin: 0 auto;
  /*igual que FLEX y CENTER*/ }

.info_tabla {
  margin: 20px;
  text-align: center;
  align-items: center; }

@media screen and (max-width: 480px) {
  .cards_participar {
    flex-direction: column;
    align-items: center; }
  .proceso_inversion img {
    width: 450px;
    margin-left: 1rem;
    margin-right: 1rem; }
  .card_inversion {
    width: 400px;
    height: 350px;
    flex-direction: column;
    align-items: center; }
  .card_inversion div {
    margin: 0px; } }

/* CONTACTO */
.card_contacto {
  margin-top: var(--spacing-xsmall);
  display: flex;
  justify-content: space-around;
  align-items: center; }

.card_contacto__info {
  display: flex;
  align-items: center;
  gap: var(--spacing-xsmall);
  margin-left: var(--spacing-xsmall);
  margin-bottom: var(--spacing-xsmall);
  font-size: var(--spacing-medium); }

.card_contacto .mapa iframe {
  width: 600px;
  margin: var(--spacing-medium); }

.card_contacto__info img {
  max-width: 50px; }

@media screen and (max-width: 480px) {
  .card_contacto {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    margin: var(--spacing-xsmall); }
  .card_contacto .mapa iframe {
    width: 450px;
    display: flex;
    justify-items: center;
    margin: var(--spacing-xsmall); }
  .mapa {
    width: 450px;
    margin: var(--spacing-xsmall); } }

/* PRINCIPAL */
.inicio {
  background-image: url(../img/foto-portada.jpeg);
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.inicio h1 {
  font-size: var(--text-xxxlarge);
  color: var(--primary);
  margin-top: var(--spacing-large);
  display: flex; }

.inicio span {
  font-size: var(--text-xlarge);
  height: 45px;
  padding: 3px;
  display: flex;
  justify-content: center; }

.button_grey {
  color: var(--text-color);
  background-color: var(--color-buttom-1);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px; }

.button_darkblue {
  color: var(--text-color);
  background-color: var(--color-buttom-2);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px; }

.tittle_section {
  display: block;
  text-align: center;
  font-size: var(--text-xxlarge);
  margin-top: var(--spacing-large); }

.cards {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-xsmall);
  text-align: center;
  margin: var(--spacing-medium); }

.cards div:hover {
  transform: scale(1.1, 1.1);
  transition: 1s; }

.cards_cripto {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-xsmall);
  text-align: center;
  margin: var(--spacing-medium); }

.cards_sakura {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-xsmall);
  text-align: center;
  margin-top: var(--spacing-medium); }

.cards div {
  background-color: var(--secondary);
  width: 350px;
  height: 380px;
  border-style: double;
  display: inline-block;
  justify-content: center;
  align-items: center;
  transition: all 2s linear;
  padding: var(--spacing-xsmall); }

.cards_cripto div {
  background-color: var(--secondary);
  width: 350px;
  height: 230px;
  border-style: double;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-xsmall); }

.cards_sakura div {
  background-color: var(--tertiary);
  width: 350px;
  height: 280px;
  border-style: double;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-xsmall); }

.cards div h2 {
  font-size: var(--text-large);
  margin-top: var(--spacing-xxsmall);
  margin-bottom: var(--spacing-xxsmall); }

.cards_sakura div h2 {
  font-size: var(--text-large);
  margin-top: var(--spacing-xxsmall);
  margin-bottom: var(--spacing-xxsmall); }

.cards_cripto div h2 {
  font-size: var(--text-large);
  margin-top: var(--spacing-xxsmall);
  margin-bottom: var(--spacing-xxsmall); }

.cards img {
  max-width: 120px;
  justify-content: center; }

.cards_cripto img {
  max-width: 120px;
  justify-content: center; }

.cards_sakura img {
  max-width: 120px;
  justify-content: center; }

.cards div .buttom_grey {
  background-color: var(--color-buttom-1);
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-xxsmall); }

.cards_cripto div .buttom_grey {
  background-color: var(--color-buttom-1);
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-xxsmall); }

.gallery1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: var(--spacing-xsmall);
  font-family: var(--font-principal);
  font-size: var(--text-large);
  justify-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: var(--spacing-large); }

.gallery1__content:nth-of-type(1) {
  grid-column: 2 /3;
  grid-row: 1 / 4; }

.gallery1__content:nth-of-type(2) {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.gallery1__content:nth-of-type(3) {
  grid-column: 3 /4;
  grid-row: 1 / 2; }

.gallery1__content:nth-of-type(4) {
  grid-column: 1 /2;
  grid-row: 3 / 4; }

.gallery1__content:nth-of-type(5) {
  grid-column: 3 / 4;
  grid-row: 3 / 4; }

.registrarme {
  display: flex;
  justify-content: center;
  align-items: center; }

.registrarme .button_darkblue {
  width: 100%;
  font-size: var(--text-medium);
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-small); }

@media screen and (max-width: 480px) {
  .cards_sakura {
    flex-direction: column;
    align-items: center; }
  .cards_cripto {
    flex-direction: column;
    align-items: center; }
  .cards {
    flex-direction: column;
    align-items: center; }
  .gallery1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: var(--spacing-xsmall);
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--text-large);
    justify-items: center;
    text-align: center;
    justify-content: center;
    align-items: center; }
  .gallery1__content:nth-of-type(1) {
    grid-column: 2 /3;
    grid-row: 1 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px; }
  .gallery1__content img {
    width: 240px; }
  .gallery1__content:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 240px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .gallery1__content:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 240px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .gallery1__content:nth-of-type(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    width: 240px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .gallery1__content:nth-of-type(5) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    width: 240px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center; } }

/* IMAGENES */
.master_gallery2 {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center; }

.gallery2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  margin-top: var(--spacing-xsmall);
  margin-bottom: var(--spacing-xsmall);
  max-width: 891px;
  max-height: 2600px;
  gap: var(--spacing-xxsmall); }

.gallery2__content img {
  max-width: 891px;
  gap: var(--spacing-xxsmall); }

.gallery2__content:nth-of-type(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 2; }

.gallery2__content:nth-of-type(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 4; }

.gallery2__content:nth-of-type(3) {
  grid-column: 2 /3;
  grid-row: 2 / 4; }

.gallery2__content:nth-of-type(4) {
  grid-column: 1 / 3;
  grid-row: 4 / 5; }

.gallery2__content:nth-of-type(5) {
  grid-column: 1 / 2;
  grid-row: 5 / 7; }

.gallery2__content:nth-of-type(6) {
  grid-column: 2 / 3;
  grid-row: 5 / 7; }

.gallery2__content:nth-of-type(7) {
  grid-column: 1 / 3;
  grid-row: 7 / 9; }

@media screen and (max-width: 480px) {
  .gallery2 {
    display: grid;
    grid-template-columns: repeat(2, 240px);
    grid-template-rows: repeat(8, 185px);
    margin-top: var(--spacing-xsmall);
    margin-bottom: var(--spacing-xsmall);
    width: 480px;
    max-height: 2600px;
    gap: var(--spacing-xxsmall);
    justify-content: center;
    align-items: center; }
  .gallery2__content img {
    gap: var(--spacing-xxsmall); }
  .gallery2__content:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2; }
  .gallery2__content:nth-of-type(1) img {
    width: 480px; }
  .gallery2__content:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 4; }
  .gallery2__content:nth-of-type(2) img {
    width: 240px; }
  .gallery2__content:nth-of-type(3) {
    grid-column: 2 /3;
    grid-row: 2 / 4; }
  .gallery2__content:nth-of-type(3) img {
    width: 240px; }
  .gallery2__content:nth-of-type(4) {
    grid-column: 1 / 3;
    grid-row: 4 / 5; }
  .gallery2__content:nth-of-type(4) img {
    width: 480px; }
  .gallery2__content:nth-of-type(5) {
    grid-column: 1 / 2;
    grid-row: 5 / 7; }
  .gallery2__content:nth-of-type(5) img {
    width: 240px; }
  .gallery2__content:nth-of-type(6) {
    grid-column: 2 / 3;
    grid-row: 5 / 7; }
  .gallery2__content:nth-of-type(6) img {
    width: 240px; }
  .gallery2__content:nth-of-type(7) {
    grid-column: 1 / 3;
    grid-row: 7 / 9; }
  .gallery2__content:nth-of-type(7) img {
    width: 480px; } }

/* NOSOTROS */
.nuestra_empresa {
  padding: 5px 10px 5px 10px;
  width: 920px;
  height: 250px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: var(--spacing-medium); }

.nuestra_empresa div {
  margin: var(--spacing-xsmall);
  font-size: var(--text-base); }

.nuestra_empresa div p {
  margin-top: var(--spacing-xxsmall); }

.nuestra_empresa img {
  max-width: 200px; }

.cards_socios {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-xsmall);
  text-align: center;
  margin-top: var(--spacing-medium); }

.cards_socios div {
  background-color: var(--tertiary);
  width: 350px;
  height: 250px;
  border-style: double;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-xsmall); }

.cards_socios div h2 {
  font-size: var(--text-large);
  margin-top: var(--spacing-xxsmall);
  margin-bottom: var(--spacing-xxsmall); }

.cards_socios img {
  max-width: 120px;
  justify-content: center;
  margin: var(--spacing-xsmall); }

.argcapital img {
  max-width: 200px; }

.listo_para_participar {
  width: 700px;
  height: 100px;
  margin-top: var(--spacing-xsmall);
  display: flex;
  align-items: center;
  font-size: var(--text-base); }

.card_participar {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; }

@media screen and (max-width: 480px) {
  .nuestra_empresa {
    max-width: 480px;
    flex-direction: column;
    align-items: center;
    height: 450px; }
  .card_socios {
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem; }
  .cards_participar {
    flex-direction: column;
    align-items: center; }
  .listo_para_participar {
    max-width: 420px; } }

/* PROYECTOS */
.subtitulo {
  font-size: var(--text-medium);
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-xxsmall);
  font-style: italic;
  color: var(--sub-tittle); }

/* TESTIMONIOS */
.testimonios {
  margin-top: var(--spacing-large);
  max-width: 900px; }

.supercard_testimonios {
  display: flex;
  justify-content: center; }

.card_testimonios {
  display: flex;
  margin: var(--spacing-xxsmall);
  font-size: var(--text-large);
  color: var(--sub-tittle);
  align-items: center;
  gap: var(--spacing-xsmall); }

.experiencia_usuario {
  margin-top: var(--spacing-xsmall);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-large);
  margin-bottom: var(--spacing-xsmall); }

@media screen and (max-width: 480px) {
  .supercard_testimonios .card_testimonios {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: var(--spacing-medium); }
  .experiencia_usuario {
    flex-direction: column;
    align-items: center; } }
