/*FOOTER*/

footer {
    margin-top: 1.6rem;
    display: flex;
    justify-content: center;
    p {
        display: inline;
        margin: $spacing-small;
        font-size: $text-base;
    }
    div {
        display: flex;
        justify-content: center;
        a {
            @extend p;
            img {
                max-width: 25px;
            }
        }
    }
}


/*MEDIAS QUERIES*/
@media screen and (max-width: 480px) and (min-width: 320px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        p {
            margin: $spacing-xxsmall;
        }
        }
}