/* HEADER */
header {
    background-color: var(--primary);
    justify-content: space-around;
    display: flex;
    align-items: center;
    color: var(--text-color);
    min-height: 10rem;
}

nav ul {
    display: flex;
    flex-basis: 60%;
    gap: var(--spacing-small);
    flex-wrap: wrap;
    flex-direction: row;
}

nav ul a {
    padding: var(--padding-nav);
    border-bottom: 2px solid var(--primary);
    transition: all .3s ease-in-out;
    font-size: var(--text-base);
}

nav ul a:hover {
    border-color: var(--text-color);
}

header img {
    max-width: 200px;
}

ul {
    list-style-type: none;
}

/*MEDIAS QUERIES*/
@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
        min-height: 22rem;
        width: 480px;
        margin-bottom: var(--spacing-xxsmall);
    }

    header nav ul {
        justify-content: center;
        width: 480px;
    }

    main {
        width: 480px;
    }
}