/* HEADER */
header {
    background-color: $primary;
    justify-content: space-around;
    display: flex;
    align-items: center;
    color: $text-color;
    min-height: 10rem;
    nav {
        ul {
            display: flex;
            flex-basis: 60%;
            gap: $spacing-small;
            flex-wrap: wrap;
            flex-direction: row;
            list-style-type: none;
            a {
                padding: $padding-nav;
                border-bottom: 2px solid $primary;
                transition: all .3s ease-in-out;
                font-size: $text-base;
                &:hover {
                    border-color: $text-color;
                }
            }
        }
    }
    img {
        max-width: 200px;
    }
}

/*MEDIAS QUERIES*/
@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
        min-height: 22rem;
        width: 480px;
        margin-bottom: $spacing-xxsmall;
        nav {
            ul {
                justify-content: center;
                width: 480px;
            }
        }
    }

    main {
        width: 480px;
    }
}