/* HEADER */
header {
    background-color: map-get($colors, primary);
    justify-content: space-around;
    display: flex;
    align-items: center;
    color: map-get($colors, text-color);
    min-height: 10rem;
    nav {
        ul {
            display: flex;
            flex-basis: 60%;
            gap: $spacing-small;
            flex-wrap: wrap;
            flex-direction: row;
            list-style-type: none;
            a {
                padding: $padding-nav;
                border-bottom: 2px solid map-get($colors, primary);
                transition: all .3s ease-in-out;
                font-size: $text-base;
                &:hover {
                    border-color: map-get($colors, text-color);
                }
            }
        }
    }
    img {
        max-width: 200px;
    }
}

/*MEDIAS QUERIES*/

@media screen and (max-width: 1200px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-items: center;
        min-height: 22rem;
        width: 1200px;
        margin-bottom: $spacing-xxsmall;
        nav {
            ul {
                justify-content: center;
                width: 1200px;
            }
        }
    }

    main {
        width: 1200px;
    }
}

@media screen and (max-width: 760px) {
    header {
        flex-direction: column;
        align-items: center;
        min-height: 22rem;
        width: 760px;
        margin-bottom: $spacing-xxsmall;
        nav {
            ul {
                justify-content: center;
                width: 760px;
            }
        }
    }

    main {
        width: 760px;
    }
}

@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
        min-height: 22rem;
        width: 480px;
        margin-bottom: $spacing-xxsmall;
        nav {
            ul {
                justify-content: center;
                width: 480px;
            }
        }
    }

    main {
        width: 480px;
    }
}

@media screen and (max-width: 320px) {
    header {
        flex-direction: column;
        align-items: center;
        min-height: 26rem;
        width: 320px;
        margin-bottom: $spacing-xxsmall;
        nav {
            ul {
                justify-content: center;
                width: 320px;
            }
        }
    }

    main {
        width: 320px;
    }
}