/* COMO PARTICIPAR */

.cards_participar {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacing-xsmall;
    text-align: center;
    margin-top: $spacing-medium;
    div {
        background-color: map-get($colors, tertiary);
        width: 300px;
        height: 260px;
        border-style: double;
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding: $spacing-xsmall;
        h2 {
            font-size: $text-medium;
            margin-top: $spacing-xxsmall;
            margin-bottom: $spacing-xxsmall;
        }
        img {
            max-width: 120px;
            justify-content: center;
        }
        .buttom_grey {
            background-color: map-get($colors, color-buttom-1);
            padding: 5px 10px 5px 10px;
            display: flex;
            justify-content: center;
            margin-top: $spacing-xxsmall;
        }
    }
}

.proceso_inversion {
    display: flex;
    justify-content: center;
    margin-top: $spacing-xxsmall;
}

.card_inversion {
    padding: 5px 10px 5px 10px;
    width: 920px;
    height: 250px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: $spacing-medium;
    div {
        margin: $spacing-xsmall;
        font-size: $text-base;
        img {
            max-width: 200px;
        }
        p {
            margin-top: $spacing-xxsmall;
        }
    }
}

@media screen and (max-width: 480px) {
    .cards_participar {
     flex-direction: column;
     align-items: center;
    }
 
    .proceso_inversion {
        img {
            width: 450px;
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
 
    .card_inversion {
        width: 400px;
        height: 350px;
        flex-direction: column;
        align-items: center;
        div {
            margin: 0px;
        }
    }
 }