/* PRINCIPAL */

.inicio {
    background-image: url(../img/foto-portada.jpeg) ;
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1 {
        font-size: $text-xxxlarge;
        color: $primary;
        margin-top: $spacing-large;
        display: flex;
    }
    span {
        font-size: $text-xlarge;
        height: 45px;
        padding: 3px;
        display: flex;
        justify-content: center;
    }
}


.button_grey {
    color: $text-color;
    background-color: $color-buttom-1;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.button_darkblue {
    color: $text-color;
    background-color: $color-buttom-2;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.tittle_section {
    display: block;
    text-align: center;
    font-size: $text-xxlarge;
    margin-top: $spacing-large;
}

.cards {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacing-xsmall;
    text-align: center;
    margin: $spacing-medium;
    div {
        background-color: $secondary;
        width: 350px;
        height: 380px;
        border-style: double;
        display: inline-block;
        justify-content: center;
        align-items: center; 
        transition: all 2s linear;
        padding: $spacing-xsmall;
        &:hover {
            transform: scale(1.1, 1.1);
            transition: 1s;
        }
        h2 {
            font-size: $text-large;
            margin-top: $spacing-xxsmall;
            margin-bottom: $spacing-xxsmall;
        }
        .buttom_grey {
            background-color: $color-buttom-1;
            padding: 5px 10px 5px 10px;
            display: flex;
            justify-content: center;
            margin-top: $spacing-xxsmall;
        }
    }
    img {
        max-width: 120px;
        justify-content: center;
    }
}

.cards_cripto {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacing-xsmall;
    text-align: center;
    margin: $spacing-medium;
    div {
        background-color: $secondary;
        width: 350px;
        height: 230px;
        border-style: double;
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding: $spacing-xsmall;
        h2 {
            font-size: $text-large;
            margin-top: $spacing-xxsmall;
            margin-bottom: $spacing-xxsmall;
        }
        .buttom_grey {
            background-color: $color-buttom-1;
            padding: 5px 10px 5px 10px;
            display: flex;
            justify-content: center;
            margin-top: $spacing-xxsmall;
        }
    }
    img {
        max-width: 120px;
        justify-content: center;
    }
}

.cards_sakura {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacing-xsmall;
    text-align: center;
    margin-top: $spacing-medium;
    div {
        background-color: $tertiary;
        width: 350px;
        height: 280px;
        border-style: double;
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding: $spacing-xsmall;
        h2 {
            font-size: $text-large;
            margin-top: $spacing-xxsmall;
            margin-bottom: $spacing-xxsmall;
        }
    }
    img {
        max-width: 120px;
        justify-content: center;
    }
}

.gallery1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: $spacing-xsmall;
    font-family: $font-principal;
    font-size: $text-large;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: $spacing-large;
    &__content:nth-of-type(1) {
        grid-column: 2 /3;
        grid-row: 1 / 4;
    }
    &__content:nth-of-type(2) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    &__content:nth-of-type(3) {
        grid-column: 3 /4;
        grid-row: 1 / 2;
    }
    &__content:nth-of-type(4) {
        grid-column: 1 /2;
        grid-row: 3 / 4;
    }
    &__content:nth-of-type(5) {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
}

.registrarme {
    display: flex;
    justify-content: center;
    align-items: center;
    .button_darkblue {
        width: 100%;
        font-size: $text-medium;
        margin-top: $spacing-small;
        margin-bottom: $spacing-small;
    }
}

@media screen and (max-width: 480px) {

    .cards_sakura {
        flex-direction: column;
        align-items: center;
    }

    .cards_cripto {
        flex-direction: column;
        align-items: center;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .gallery1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin-top: $spacing-xsmall;
        font-family: 'Courier New', Courier, monospace;
        font-size: $text-large;
        justify-items: center;
        text-align: center;
        justify-content: center;
        align-items: center;
        &__content:nth-of-type(1) {
            grid-column: 2 /3;
            grid-row: 1 / 5;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 240px;
        }
        &__content:nth-of-type(2) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            width: 240px;
            height: 230px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__content:nth-of-type(3) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            width: 240px;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__content:nth-of-type(4) {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            width: 240px;
            height: 230px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__content:nth-of-type(5) {
            grid-column: 1 / 2;
            grid-row: 4 / 5 ;
            width: 240px;
            height: 230px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__content img {
            width: 240px;
        }
    }
}