/* PRINCIPAL */

.inicio {
    background-image: url(../img/foto-portada.jpeg) ;
    background-size: cover;
    @include sizes(100%,700px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    h1 {
        font-size: $text-xxxlarge;
        color: map-get($colors, primary);
        margin-top: $spacing-large;
        display: flex;
    }
    span {
        font-size: $text-xlarge;
        @include sizes(100%,45px);
        padding: 3px;
        display: flex;
        justify-content: center;
        color: map-get($colors, sub-tittle);
    }
    .botones_inicio {
        margin-top: $spacing-large;
        font-size: $text-small;
        .button_darkblue {
            margin-left: $spacing-small;
        }
    }
}

.tittle_section {
    display: block;
    text-align: center;
    font-size: $text-xxlarge;
    margin-top: $spacing-large;
}

.cards {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacing-xsmall;
    text-align: center;
    margin: $spacing-medium;
    div {
        background-color: map-get($colors, secondary);
        @include sizes(350px,430px);
        border-style: double;
        display: inline-block;
        justify-content: center;
        align-items: center; 
        transition: all 2s linear;
        padding: $spacing-xsmall;
        &:hover {
            transform: scale(1.1, 1.1);
            transition: 1s;
        }
        h2 {
            font-size: $text-xlarge;
            margin-top: $spacing-xxsmall;
            margin-bottom: $spacing-xxsmall;
        }
        p {
            font-size: $text-base;
        }
        .button_grey {
            background-color: map-get($colors, color-buttom-1);
            padding: 5px 10px 5px 10px;
            display: flex;
            justify-content: center;
            margin-top: $spacing-xxsmall;
            font-size: $text-small;
        }
        img {
            max-width: 120px;
            justify-content: center;
        }
    }
}

.cards_cripto {
    @extend .cards;
    div {
        @include sizes(350px,310px);
    }
}

/*REVISAR..*/
.tabla {
    margin: 0 auto; /*igual que FLEX y CENTER*/
    @include sizes(400px,100%);
    text-align: center;
    thead {
        tr {
            font-size: $text-base;
        }
    }
    tbody {
        tr {
            font-size: $text-base;
        }
    }
}

.info_tabla {
    margin: 20px;
    text-align: center;
    align-items: center;
    p {
        font-size: $text-base;
        color: map-get($colors, sub-tittle);
    }
}

.cards_sakura {
    @extend .cards;
    div {
        @include sizes(350px,100%);
        background-color: map-get($colors, tertiary);
    }
}

.gallery1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: $spacing-xsmall;
    font-family: $font-principal;
    font-size: $text-large;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: $spacing-large;
    &__content:nth-of-type(1) {
        grid-column: 2 /3;
        grid-row: 1 / 4;
    }
    &__content:nth-of-type(2) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    &__content:nth-of-type(3) {
        grid-column: 3 /4;
        grid-row: 1 / 2;
    }
    &__content:nth-of-type(4) {
        grid-column: 1 /2;
        grid-row: 3 / 4;
    }
    &__content:nth-of-type(5) {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
}

.registrarme {
    display: flex;
    justify-content: center;
    align-items: center;
    .button_darkblue {
        @include sizes(100%,100%);
        font-size: $text-medium;
        margin-top: $spacing-small;
        margin-bottom: $spacing-small;
    }
}

@media screen and (max-width: 480px) {

    .cards {
        flex-direction: column;
        align-items: center;
        div {
            width: 100%;
            height: 100%;
        }
    }

    .cards_sakura {
        flex-direction: column;
        align-items: center;
        div {
            width: 100%;
            height: 100%;
        }
    }

    .cards_cripto {
        flex-direction: column;
        align-items: center;
        div {
            width: 100%;
            height: 100%;
        }
    }

    .tabla {
        width: 80%;
    }

    .gallery1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        margin-top: $spacing-xsmall;
        font-family: 'Courier New', Courier, monospace;
        font-size: $text-medium;
        justify-items: center;
        text-align: center;
        justify-content: center;
        align-items: center;
        &__content:nth-of-type(1) {
            grid-column: 1;
            grid-row: 5 / 6;
            display: flex;
            justify-content: center;
            align-items: center;
            @include sizes(110px,100%);
        }
        &__content:nth-of-type(2) {
            grid-column: 1;
            grid-row: 1 / 2;
            @include sizes(110px,100%);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__content:nth-of-type(3) {
            grid-column: 1;
            grid-row: 2 / 3;
            @include sizes(110px,100%);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__content:nth-of-type(4) {
            grid-column: 1;
            grid-row: 3 / 4;
            @include sizes(110px,100%);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            transform: translateY(5rem);
        }
        &__content:nth-of-type(5) {
            grid-column: 1;
            grid-row: 4 / 5 ;
            @include sizes(110px,100%);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__content img {
            @include sizes(140px,100%);
        }
    }
}

@media screen and (max-width: 320px) {
    
    .inicio {
        width: 100%;
        h1 {
            font-size: $text-xxlarge;
        }
        span {
            font-size: $text-large;
            margin-bottom: $spacing-xxsmall;
        }

        .button_grey {
            margin-bottom: $spacing-xxsmall;
        }
    }

    .cards {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin: $spacing-xsmall;
        div {
            width: 100%;
            height: 100%;
        }
    }

    .cards_cripto {
        width: 100%;
        flex-direction: column;
        flex-direction: column;
        align-items: center;
        margin: $spacing-xsmall;
        div {
            width: 100%;
            height: 100%;
        }
    }

    .cards_sakura {
        width: 100%;
        flex-direction: column;
        flex-direction: column;
        align-items: center;
        margin: $spacing-xsmall;
        div {
            width: 100%;
            height: 100%;
        }
    }

    .tabla {
        width: 80%;
    }
}