/* PROYECTOS */

.subtitulo {
    font-size: $text-medium;
    display: flex;
    justify-content: center;
    margin-top: $spacing-xxsmall;
    font-style: italic;
    color: map-get($colors, sub-tittle)
}