/* PROYECTOS */

.subtitulo {
    font-size: $text-medium;
    display: flex;
    justify-content: center;
    margin-top: $spacing-xxsmall;
    font-style: italic;
    color: map-get($colors, sub-tittle)
}

@media screen and (max-width: 480px) and (min-width:320px) {
    .subtitulo {
        font-size: $text-base;
    }
}
