/* TESTIMONIOS */
a:hover {
    color: white;
}

.supercard_testimonios {
    display: flex;
    justify-content: center;
    .testimonios {
        margin-top: $spacing-large;
        max-width: 900px;
        .card_testimonios {
            display: flex;
            margin: $spacing-xxsmall;
            font-size: $text-large;
            color: map-get($colors, sub-tittle);
            align-items: center;
            gap: $spacing-xsmall;
        }
    }
}

.container2 {
    padding: $spacing-medium;
    .form-row{
        display: flex;
        justify-content: center;
        .form-group {
            margin-bottom: $spacing-xsmall;
        }
    }
}

@media screen and (max-width: 480px) {
    .supercard_testimonios {
        .testimonios{
            .card_testimonios{
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-bottom: $spacing-medium;
                font-size: $text-medium;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .supercard_testimonios {
        .testimonios {
            .card_testimonios{
                flex-direction: column;
                align-items: center;
                text-align: center;
                font-size: $text-base;
                margin-bottom: $spacing-medium;
            }
        }
    }
}