/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* NORMALIZE */
html {
    font-size: 62.5%;
}

body {
    font-family: $font-principal;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: $primary;
    color: $text-color;
    }

footer {
    font-family: $font-principal ;
    color: $text-color;
}

a {
    text-decoration: none;
    color: $text-color;
}

.button_grey {
    color: $text-color;
    background-color: $color-buttom-1;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}
.button_darkblue {
    color: $text-color;
    background-color: $color-buttom-2;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

/*
main {
    margin: 0 auto;
    /*max-width: 1200px;
}*/